/********** pc **********/
/***** header *****/
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 6px -6px #ddd;
    -webkit-box-shadow: 0 10px 6px -6px #ddd;
    -moz-box-shadow: 0 10px 6px -6px #ddd;
    opacity: 0;
    z-index: -10;
}
header.scroll{
    opacity: 10;
    z-index: 10;
}

header .util{width: 100%;}
header .util_wrap{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header .util_wrap>li:not(:last-child){
    margin-right: 30px;
}

header .util_link{
    font-size: 16px;
    font-weight: bolder;
}

/***** modal *****/
.pop{
    opacity: 0;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    transform: translate(-50%, 0);
    transition: all .3s;
    overflow: hidden;
    z-index: -10;
}
.pop_bg{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

.pop.show{opacity: 1;z-index: 99;transform: translate(-50%,-50%);transition: transform .3s ease-out;}
.pop_bg.show{z-index: 90;display: block;opacity: 0.4;transition: opacity .15s linear;}
.pop .close_btn{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 35px;
    height: 35px;
    font-size: 0;
    background: url(../img/icon_pop_close.svg) no-repeat;
    background-size: cover;
}

.pop .wrap_inner{
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.pop .wrap_inner::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.pop .project_desc{
    position: sticky;
    top: 0;
    padding: 30px;
    background-color: #ffffff;
}
.pop .title{line-height: 1.4;font-size: 22px;color: #0a0a0a;font-weight: 800;}

.pop .sub_text{line-height: 1.6;font-size: 14px;color: #000000;margin-top: 10px;}

.pop .img_box, .pop .img_box img{width: 100%; height: auto;}
.pop .img_box.small{display: flex;justify-content: center;background: #eee;}
.pop .img_box.small img{width: 50%;}

/********** tablet **********/
@media all and (max-width:1024px){
    .pop .title{padding-right: 30px;}
}

/********** mobile **********/
@media all and (max-width:768px){
    .pop{width: 80%;}
    .pop .close_btn{
        top: 12px;
        right: 12px;
        width: 30px;
        height: 30px;
    }

    .pop .project_desc{padding: 15px 20px;}
    .pop .title{font-size: 18px;}
}