/********** pc **********/
body * {
    transition: .2s;
    -webkit-transition: .2s;
}
/* #wrap_content{background: #eee;} */

.project_title{
    font-size: 100px;
    color: #222;
    font-weight: bold;
    text-align: center;
}
.about .project_wrap, .project .project_wrap{margin-top: 100px;}

/***** intro_section *****/
.intro{
    width: 100vw;
    height: 100vh;
}
.intro .project_wrap{position: relative;}
.intro .title_area{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.intro .title_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro .title_area .title{
    text-align: center;
}
.intro .title_area .title p{line-height: 1.2;font-size: calc(100vw * (80 / 1920));}
.intro .title_area .title .main_title{color: #32AA87;}
.intro .title_area .title .sub_title{font-weight: bolder;}

.intro .title_area .text{}

.intro .title_area .img_box{
    width: calc(100vw * (350 / 1920));
    height: calc(100vh / 2);
    overflow: hidden;
    background: url(../img/intro_bg.png) center 100% / contain no-repeat;
    margin-top: 20px;
}
.intro .title_area .Shapes{
    position: absolute;
}
.intro .title_area .Shapes .Shape_01{}
.intro .title_area .Shapes .Shape_02{}
.intro .text_area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.intro .text_area span{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
}
.intro .text_area .name{
    top: 15%;
    right: 0;
    transform: rotate(90deg);
}
.intro .text_area .job{
    bottom: 15%;
    left: 0;
    transform: rotate(-90deg);
}

/***** about_section *****/
.about{padding: 100px calc(100vw * (350 / 1920)) 200px;}
.about .project_wrap{
    display: flex;
    justify-content: space-between;
}
.about .img_box{width: 40%;height: auto;}
.about .img_box img{width: 100%;}

.about .text_box{width: 50%;}
.about .project_wrap .text_box>div:not(:last-child){margin-bottom: 20px;}
.about .detail_title{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    background: #0a0a0a;
    padding: 3px 10px;
    margin-bottom: 10px;
}

.about .about_area{}
.about .about_area .title{font-size: 18px;font-weight: 700;}
.about .about_area .text{font-size: 16px;margin-top: 25px;}

.about .skills_area{}
.about .skills_text{font-size: 16px;}

.about .detail_area{}
.about .detail_area>ul{}
.about .detail_area>ul li{}
.about .detail_area>ul li:not(:last-child)::after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px dotted #222;
    margin: 10px 0;
}
.about .detail_area .detail_date{
    color: #b34831;
    line-height: 1.5;
    font-size: 18px;
    font-weight: lighter;
}
.about .detail_area .detail_list{margin-top: 5px;}
.about .detail_area .detail_sub_title{}
.about .detail_area .detail_sub_title span{}
.about .detail_area .company_name{
    font-size: 18px;
    font-weight: 700;
}
.about .detail_area .company_position{
    font-size: 14px;
    margin-left: 5px;
}
.about .detail_area .detail_text{margin-top: 5px;}
.about .detail_area .detail_text p{
    color: #7f7f7f;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 400;
}

.about .info_area{}
.about .info_area>ul{display: flex;}
.about .info_area>ul li:not(:last-child){margin-right: 20px;}
.about .info_area>ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.about .info_area .icon_img{
    width: 45px;
    height: 45px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
}
.about .info_area .icon_img img{
    display: block;
    width: 100%;
    height: 100%;
}
.about .info_area .text{
    font-size: 14px;
    margin-top: 5px;
}

/***** project_section *****/
.project{position: relative;padding: 100px calc(100vw * (50 / 1920)) 200px;}
.project::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    display: block;
    width: 100%;
    height: 100%;
    background: #eee;
}

.project .project_wrap{display: flex;flex-wrap: wrap;}
.project .project_wrap>li{
    position: relative;
    top: 5px;
    flex-shrink: 0;
    width: calc(100% / 3 - calc(100vw * (45 / 1920)));
    height: auto;
    padding: calc(100vw * (50 / 1920));
    margin: calc(100vw * (15 / 1920)) calc(100vw * (15 / 1920)) calc(100vw * (15 / 1920)) calc(100vw * (20 / 1920));
    background: #fff;
    border-radius: 15px;
}
.project .project_wrap>li:before, .project .project_wrap>li:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.project .project_wrap>li:after{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.project .project_wrap>li:hover{top: 0;}


.project .project_wrap .img_box{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    overflow: hidden;
}
.project .project_wrap .icon_img{
    width: calc(100vw * (50 / 1920));
    height: calc(100vw * (50 / 1920));
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
}

.project .project_wrap .thum_img{
    width: calc(100vw * (280 / 1920));
    height: calc(100vw * (200 / 1920));
    margin-top: 20px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 3%;
}
.project .project_wrap .icon_img img,.project .project_wrap .thum_img img{
    display: block;
    width: 100%;
    height: 100%;
}
.project .project_wrap .text_box{margin-top: 14px;}
.project .project_wrap .date{color: #222;font-size: calc(100vw * (15 / 1920));}
.project .project_wrap .project_name{
    color: #222;
    line-height: 1.5;
    font-size: calc(100vw * (40 / 1920));
    font-weight: 800;
    margin-top: 20px;
}

.project .project_wrap .tag_list li{
    display: inline-flex;
    align-items: center;
    color: #222;
    font-size: calc(100vw * (15 / 1920));
    padding: calc(100vw * (5 / 1920)) calc(100vw * (15 / 1920));
    margin-top: 10px;
    border: 1px solid #222;
    border-radius: 15px;
}
.project .project_wrap .tag_list li:not(:last-child){margin-right: calc(100vw * (10 / 1920));}

.project .view_link_list{margin-top: 20px;}
.project .view_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: calc(100vw * (10 / 1920)) calc(100vw * (15 / 1920));
    background-color: #0a0a0a;
}
.project .view_link:not(:last-child){margin-bottom: 5px;}
.project .view_link span{color: #fff;font-size: calc(100vw * (15 / 1920));}
.project .view_link img{
    display: block;
    width: auto;
    height: 80%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    transform: translateX(0);
    transition: all 0.3s;
}

.project .view_link:hover img{
    transform: translateX(50%);
}

/********** mobile **********/
@media all and (max-width:1024px){
    .project_title{font-size: calc(100vw * (40 / 428));}

    /***** intro_section *****/
    .intro .title_area .title p{font-size: calc(100vw * (45 / 428));}
    .intro .title_area .img_box{
        width: calc(100vw * (250 / 428));
        height: calc(100vw * (350 / 428));
    }

    .intro .text_area span{
        font-size: calc(100vw * (15 / 428));
    }
    .intro .text_area .name{
        right: -5%;
    }
    .intro .text_area .job{
        left: -5%;
    }

    /***** about_section *****/
    .about{padding: 100px calc(100vw * (15 / 428)) 200px;}
    .about .img_box{display: none;}
    .about .text_box{width: 100%;}

    /***** project_section *****/
    .project{padding: 100px calc(100vw * (10 / 428)) 200px;}
    .project .project_wrap>li{
        top: 0;
        width: calc(100% / 2 - calc(100vw * (10 / 428)));
        padding: calc(100vw * (15 / 428));
        margin: calc(100vw * (10 / 428)) calc(100vw * (5 / 428));
    }

    .project .project_wrap .img_box{
        display: block;
    }
    .project .project_wrap .icon_img{display: none;}

    .project .project_wrap .thum_img{
        width: 100%;
        height: calc(100vw * (100 / 428));
        margin-top: 0;
    }
    .project .project_wrap .icon_img img,.project .project_wrap .thum_img img{
        width: 100%;
        height: 100%;
    }
    .project .project_wrap .date{font-size: calc(100vw * (8 / 428));}
    .project .project_wrap .project_name{font-size: calc(100vw * (15 / 428));}

    .project .project_wrap .tag_list li{
        font-size: calc(100vw * (8 / 428));
        padding: calc(100vw * (2 / 428)) calc(100vw * (5 / 428));
    }
    .project .project_wrap .tag_list li:not(:last-child){margin-right: calc(100vw * (3 / 428));}

    .project .view_link{
        padding: calc(100vw * (5 / 428)) calc(100vw * (10 / 428));
    }
    .project .view_link span{font-size: calc(100vw * (8 / 428));}
    .project .view_link img{
        transform: translateX(50%);
    }
}