/********** pc **********/
body * {
    transition: .2s;
    -webkit-transition: .2s;
}

/***** project_section *****/
.project_section{}
.project_section .project_list{}
.project_section .list{position: relative;width: calc(100% / 3 - calc(100vw * (100 / 1920)));height: auto;margin-right: calc(100vw * (11.5 / 1920));margin-bottom: 31px;}

.project_section .project_list .img_box{
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vw * (254 / 1920));
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 3%;
}
.project_section .project_list .img_box{
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.project_section .project_list .img_box img{
    width: 100%;
    height: 100%;
    opacity: .8;
}
.project_section .project_list .txt_box{margin-top: 14px;}
.project_section .project_list .tags_list{display: flex;flex-wrap: wrap;align-items: center;}
/* .project_section .project_list .tags_list li{
    display: inline-block;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    padding: 6px calc(100vw * (13 / 1920));
    margin-right: calc(100vw * (6 / 1920));
    margin-bottom: 6px;
    border-radius: 24px;
    border: 1px solid #000000;
    background-color: #ffffff;
    transform: skew(-0.03deg);
} */
.project_section .project_list .project_name{font-size: 20px;text-align: center;font-weight: 800;margin-bottom: 10px;}

.project_section .project_list .list:hover .img_box{top: 0;}
.project_section .project_list .list:hover .img_box img{opacity: 1;}

/********** mobile **********/
@media all and (max-width:1024px){
    .project_section{}
    .project_section .project_list{}
    .project_section .list{width: calc(100% / 2 - calc(100vw * (20 / 428)));margin-right: 0;margin-bottom: calc(100vw * (32 / 428));}
    
    .project_section .project_list .img_box{height: calc(100vw * (195 / 428));}
    .project_section .project_list .txt_box{margin-top: calc(100vw * (10 / 428));}
    /* .project_section .project_list .tags_list li{
        font-size: calc(100vw * (8 / 428));
        padding: calc(100vw * (5 / 428)) calc(100vw * (12 / 428));
        margin-right: calc(100vw * (5 / 428));
        margin-bottom: calc(100vw * (5 / 428));
    } */
    .project_section .project_list .project_name{font-size: calc(100vw * (12 / 428));margin-bottom: calc(100vw * (10 / 428));}
}