/********** pc **********/
body * {
    transition: .2s;
    -webkit-transition: .2s;
}

/***** project_section *****/
.project_section{}
.project_section .project_list{
    display: flex;
    flex-wrap: wrap;
}
.project_section .list{
    flex-shrink: 0;
    position: relative;
    width: calc(100% / 4);
    height: auto;
    margin-bottom: 31px;
}


.project_section .project_list .img_box{
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vw * (500 / 1920));
    overflow: hidden;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 3%;
    cursor: pointer;
}
.project_section .project_list .img_box img{
    width: 100%;
    height: 100%;
    opacity: .8;
}
.project_section .project_list .txt_box{margin-top: 14px;}
.project_section .project_list .tags_list{display: flex;flex-wrap: wrap;align-items: center;}
.project_section .project_list .project_name{font-size: 20px;text-align: center;font-weight: 800;margin-bottom: 10px;}

.project_section .project_list .list:hover .img_box{top: 0;}
.project_section .project_list .list:hover .img_box img{opacity: 1;}

/********** mobile **********/
@media all and (max-width:1024px){
    .project_section{}
    .project_section .project_list{justify-content: space-between;}
    .project_section .list{width: calc(100% / 2);margin-right: 0;margin-bottom: calc(100vw * (32 / 428));}
    
    .project_section .project_list .img_box{height: calc(100vw * (195 / 428));}
    .project_section .project_list .txt_box{margin-top: calc(100vw * (10 / 428));}
    .project_section .project_list .project_name{font-size: calc(100vw * (12 / 428));margin-bottom: calc(100vw * (10 / 428));}
}